name: Hello World Pipeline

on: push

jobs:
  hello-world-job:
    runs-on: ubuntu-latest

    steps:
      - name: my-step
        run: echo "Hello World!"
      
      - name: my-step
        run: echo "Natpu"  

